/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


/* label color 
.input-field label {
	color: #29b6f6;
}*/
/* label focus color */
.input-field input[type=text]:focus + label, input[type=password]:focus + label, input[type=email]:focus + label {
	color: #29b6f6 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
	border-bottom: 1px solid #29b6f6 !important;
	box-shadow: 0 1px 0 0 #29b6f6 !important;
}
/* invalid color */
.input-field input[type=text].invalid, input[type=password].invalid, input[type=email].invalid {
	border-bottom: 1px solid #E57373 !important;
	box-shadow: 0 1px 0 0 #E57373 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #29b6f6 !important;
}
